.home {
  width: 100%;
  height: 450px;
}
.homeImg {
  width: 100%;
  height: 450px;
}
.homeImgItem {
  width: 100%;
  height: 450px;
}
.homeTitle {
  width: 20%;
  bottom: 300px;
  left: 500px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homeTitleItem {
  font-size: 40px;
  font-family: montserrat serif;
  font-weight: 900;
  color: white;
}
.homeList {
  width: 20%;
  bottom: 290px;
  left: 650px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.homeListItem {
  font-size: 50px;
  list-style: none;
  line-height: 30px;
  color: rgb(175, 171, 171);
}
